services:
  postgres:
    image: postgres:15-alpine
    environment: [POSTGRES_PASSWORD=password, POSTGRES_DB=postgres]
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile.dev
    volumes: [ "./apps/backend:/app", "~/.kube:/root/.kube:ro", "./infrastructure:/infrastructure:ro" ]
    ports: ["8000:8000"]
    environment:
      - DATABASE_URL=postgresql://postgres:password@postgres:5432/postgres
    depends_on:
      postgres:
        condition: service_healthy
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"
  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile.dev
    volumes: [ "./apps/frontend:/app", "/app/node_modules" ]
    environment: { VITE_API_URL: "http://localhost:8000" }
    ports: ["5173:5173"]
